h2{
    background: linear-gradient(to right, rgb(151, 91, 255),rgb(200, 67, 160));
    }
    h4{
      background: linear-gradient(to right, rgb(156, 55, 239),rgb(207, 87, 141));
    }
    h1{
      color: rgb(69, 0, 69);
    }