body{
    font-family:cursive, 'Caveat';
    color: white;
    background: linear-gradient(rgb(130, 93, 73), rgb(240, 188, 188), rgb(232, 164, 158), rgb(252, 222, 222));
    height: 700px;
}
p{
    color: rgb(33, 33, 107);
    font-size: 20px
}
hr{
    width: 500px;
}
.clas{
    font-size: 25px;
}
audio{
    width: 650px;
    height: 35px;
}