
  .odin{
    width: 400px;
    height: 200px;
    
  }
  
  .dva{
    width: 400px;
    height: 200px;
  }
  
  .tri{
    width: 400px;
    height: 200px;
  }
  
  .chotiri{
    width: 400px;
    height: 200px;
  }
  .p{
    text-align:end;
  }